body { background: #e6f7ff !important;}

/*Color of the Navigation bar*/
.navbar.navbar-expand-lg.navbar-light.static-top {
	background-color: #cceeff;
}

.navbar-brand {
  padding: 0px;
}



#visualize-car-orientation {
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 5px;
}
#visualize-boat-orientation {
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 5px;
}



#container {
  padding-left: 300px;
}

#content {
  padding: 20px;
}

@media only screen and (max-width : 992px) {
  #container {
    padding-left: 0px;
  }
} 
.center-btn { text-align: center }
/*.btn {background-color: #ffab91;}*/

.rotated {
  transform: rotate(90deg);
  -ms-transform: rotate(90deg); /* IE 9 */
  -moz-transform: rotate(90deg); /* Firefox */
  -webkit-transform: rotate(90deg); /* Safari and Chrome */
  -o-transform: rotate(90deg); /* Opera */
}