body { background: #e6f7ff !important;}

/*Color of the Navigation bar*/
.navbar.navbar-expand-lg.navbar-light.static-top {
	background-color: #cceeff;
}

.navbar-brand {
  padding: 0px;
}



#visualize-car-orientation {
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 5px;
}

.rotated {
  transform: rotate(90deg);
  -ms-transform: rotate(90deg); /* IE 9 */
  -moz-transform: rotate(90deg); /* Firefox */
  -webkit-transform: rotate(90deg); /* Safari and Chrome */
  -o-transform: rotate(90deg); /* Opera */
}